.footer {
  background-color: $footer-bg;
  font-size: $pr14;
  color: $text-color--light;
  padding-top: $spacer * 2;

  &__text {
    margin-bottom: $spacer * 1.2;
  }

  a {
    color: $text-color--light;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}
