// Free SVG icons: https://useiconic.com/open/
$icon-size: 60px;

.icon {
  width: $icon-size;
  height: $icon-size;
  display: block;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;

  &--wte-1 {
    background-image: url(../images/whattoexpect-img1.png);
  }

  &--wte-2 {
    background-image: url(../images/whattoexpect-img2.png);
  }

  &--wte-3 {
    background-image: url(../images/whattoexpect-img3.png);
  }

  &--wte-4 {
    background-image: url(../images/whattoexpect-img4.png);
  }
}
