// Some basic padding for all wrappers
body {
  font-family: $base-font-family;
  box-sizing: border-box;
  text-align: center;
  background-color: $body-color;
  font-size: $base-font-size;
}

.section {
  overflow: hidden;
  position: relative;
  padding-bottom: $spacer * 2.5;
  padding-top: $spacer / 2;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 4;
  }
}
