ul {
  list-style-type: none;
  text-align: left;

  li {
    margin-bottom: $spacer;
    line-height: 1.35;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: url(../images/check.svg) no-repeat 0  $spacer / 4.5  scroll;
      background-size: 0.8rem;
      width: 100%;
      height: 100%;
      display: inline-block;
      left: - $spacer * 2;
    }
  }
}
