.logo {
  background: url(../images/foundr.png) no-repeat 0 0 scroll transparent;
  background-size: contain;
  width: 174px;
  height: 44px;
  margin: 0 auto;
  white-space: nowrap;
  text-indent: -9999px;

  &--hero {
    width: 100px;
    height: 25px;
  }

  &--footer {
    width: 120px;
    height: 30px;
  }
}
