.hero {
  background-image: url(../images/black-abstract.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: $primary-font-family;
  font-size: $p16;
  padding-top: $spacer;

  @include media-breakpoint-up(md) {
    font-size: $pr23;
    padding-bottom: $spacer * 4;
  }

  &__text {
    text-transform: uppercase;
    margin: 0 auto $spacer / 2;
  }

  &__lead {
    font-size: $pr25;
    line-height: normal;

    @include media-breakpoint-up(md) {
      font-size: $pr55;
      line-height: 1.3;
    }
  }

  .triangle-down {
    margin: -$spacer * 0.7  auto $spacer * 1.5;

    @include triangle-down( 20px, $light);

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
