.interviewed {
  .section-title {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .triangle-down {
    margin: $spacer  auto  $spacer * 2;

    @include triangle-down(40px, $dark);

    @include media-breakpoint-up(md) {
      margin: -$spacer * 1.5  auto  $spacer * 2;
    }
  }
}
