.meet-your-presenter {
  .list {
    &__item {
      font-size: $pr15;
    }
  }

  .presenter-title {
    font-size: $pr18;
  }

  hr {
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
