.free-training {
  .list {
    font-size: $pr16;
    margin-top: 0;

    &__item {
      &::before {
        @include media-breakpoint-up(md) {
          background-size: 1.1rem; // Bullet size for larger devices only
        }
      }
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}
