.what-to-expect {
  background-image: url(../images/black-abstract.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  font-size: $pr16;

  @include media-breakpoint-up(md) {
    font-size: $pr20;
    text-align: left;
  }

  p {
    margin: 0;
  }

  .icon {
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      margin: 0;
      width: 75px;
      height: 75px;
    }
  }

  .triangle-down {
    margin: -$spacer / 2  auto 0;

    @include triangle-down( 20px, $light);

    @include media-breakpoint-up(md) {
      margin: 0 auto;

      @include triangle-down( 40px, $light);
    }
  }
}
